<md-card>
  <md-card-content>
    <h1>About Us!</h1>
    <p>
      The Washington State Silver Persian Cat Club is a silver persian (also known as chinchila persian) cat club which was established in 2017. We are a non-profit club, which anyone can join as long as you meet our two simple restrictions: 
    </p>
    <ol>
      <li>You and your silver persian live in Washington State</li>
      <li>Your silver persian is purebred and meets CFA purebred standards</li>
    </ol> 

    <h3>Breed Description</h3>
    <p>
      "The exquisite silvers are considered the most ethereal of all Persians. The chinchilla is a sparkling white cat with black tipping scattered as evenly as stardust, ever so lightly, on the face, legs, tail and body. Shadeds show a mantle of black on the back, shading evenly down the sides. The tipping on the legs and face should match and is darker than the chinchilla. Silvers have green or blue-green eyes rimmed with black, black paw pads." - www.cfa.org
    </p>

  </md-card-content>
</md-card>