<md-input-container>
  <input [(ngModel)]="selectedCat.name">
</md-input-container>
<md-input-container>
  <input [(ngModel)]="selectedCat.age">
</md-input-container>
<md-input-container>
  <input [(ngModel)]="selectedCat.sex">
</md-input-container>
<md-input-container>
  <input [(ngModel)]="selectedCat.description">
</md-input-container>
<md-input-container>
  <input [(ngModel)]="selectedCat.image">
</md-input-container>
<button (click)="beginUpdatingCat(selectedCat)">Update</button>
<hr>
<button (click)="beginDeletingCat(selectedCat)">Delete</button>
