<md-toolbar color="primary">

    <span>Washington State Silver Persian Club</span>
    <span class="toolbar-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>
    
</md-toolbar>

<md-menu #appMenu="mdMenu">
  <a routerLink="" md-menu-item>
    <md-icon>store</md-icon> 
    <span>Home</span>
  </a>
  <a routerLink="about" md-menu-item>
    <md-icon>info_outline</md-icon> 
    <span>About</span>
  </a>
  <a routerLink="admin" md-menu-item>
    <md-icon>perm_identity</md-icon>
    <span>Admin</span>
  </a>
</md-menu>

<router-outlet></router-outlet>