@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  padding: 2em 23em;
  background: lightgray;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

.center-align {
  text-align: center;
}

.full-width {
  width: 100%;
}

.card-height {
  height: 30em;
}

.half-width {
  width: 45%;
  float: left;
  /*display: flex;*/
}

.lighter-grey {
  background: lightblue;
}